<div class="alert alert-warning">
	<div class="alert-icon"></div>
	<div>
		<div class="alert-header">
			The AWS SDK for JavaScript v2 has reached end-of-support.
		</div>
		<div class="alert-content">
			We recommend that you migrate to <a href="https://docs.aws.amazon.com/sdk-for-javascript/v3/developer-guide/welcome.html">AWS SDK for JavaScript v3</a>.
			For additional details and information on how to migrate, please refer to the <a href="https://aws.amazon.com/blogs/developer/announcing-end-of-support-for-aws-sdk-for-javascript-v2">announcement</a>.
		</div>
	</div>
</div>